<section class="section">
    <section class="hero is-light">
        <div class="hero-body">
            <h1 class="title">Me siga!</h1>
            <h2 class="subtitle">Vale a pena! :)</h2>
            <span class="icon">
<a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter is-large" ></i></a>
            </span>
            <span class="icon">
                <a href="{{ site.yt1link }}"><i class="fa fa-youtube-play is-large" ></i></a>
                                </span>
            <span class="icon">
                                    <a href="https://www.github.com/{{ site.github }}"><i class="fa fa-github is-large" ></i></a>
                                                    </span>
            <span class="icon">
                                                        <a href="https://open.spotify.com/user/{{ site.spotify }}"><i class="fa fa-spotify is-large" ></i></a>
                                                                        </span>
        </div>
    </section>

<section class="hero is-primary">
    <div class="hero-body has-text-centered">
        <h1 class="title">Seja criativo.</h1>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">SMixqse. 2017</div>
    </div>
</footer>
</section><section>