<head>
    <link rel="icon" href="https://www.smixqse.ga/favicon.ico?v=2" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.smixqse.ga/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMixqse{% if page.pageName %} - {{ page.pageName }}{% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <meta name="Description" content="O site oficial do SMixqse.">
    <meta name="Keywords" content="smixqse, smix">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
    <style>
    .columns {
	margin: 0;
}

@media screen and (min-width: 768px) {

	.columns {
	    margin-left: -0.75rem;
	    margin-right: -0.75rem;
	    margin-top: -0.75rem;
	}

}
    </style>
</head>