<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://www.smixqse.ga/">
            <p style="font-family: 'PT Sans'; font-weight:bold; font-size:25px; color:#37b7cc;">SMixqse</p>
        </a>
        <div class="navbar-burger burger" data-target="navMenu" id="navBurger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a href="https://www.smixqse.ga/" class="navbar-item" {% if page.pageName == 'Home' %}style="color:#4286f4;"{% endif %}>Home</a>
            <a href="http://www.smixqse.ga/sobre" class="navbar-item" {% if page.pageName == 'Sobre' %}style="color:#4286f4;"{% endif %}>Sobre</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <p class="control">
                    <a class="tw-button button is-primary" data-social-network="Twitter" data-social-action="follow" data-social-target="http://smixqse.ga"
                        target="_blank" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fpublish.twitter.com%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=ScratchMix123&tw_p=followbutton">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>
                Seguir
              </span>
            </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript">
    $("#navBurger").click(function () {
        $("#navBurger").toggleClass("is-active");
        $("#navMenu").toggleClass("is-active");
    });
</script>
